
.obsFinaliza {
    background: rgb(99, 74, 110);
    padding: 0.5em 1em;
    color: white;
  }
  
  .obsAvaliou {
    background: rgb(98, 0, 49);
    padding: 0.5em 1em;
  }
  
  .obsEspera {
    background: hsl(48, 100%, 67%);
    padding: 0.5em 1em;
  }
  
  .obsAceita {
    background: hsl(141, 71%, 48%);
    padding: 0.5em 1em;
  }
  
  .obsRecusa {
    background: hsl(348, 100%, 61%);
    padding: 0.5em 1em;
  }
  
  .obs {
    background: grey;
    padding: 0.5em 1em;
  }

  
.obsTemp{
    background: hsl(141, 71%, 48%);
    padding: 0.5em 1em;
  }