button,
button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

button::before,
button::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}
.tn{
  text-decoration: none;
}


/* BUTTON 5 */
.btn-5 {background: none;
  border: 1px solid black;
  border-radius: 5px;
  color:black;
  font-size: 1.4em;
  margin: 0.3em;
  padding: 0.8em 1.5em;
  position: relative;
  overflow: hidden;
}

.btn-5:hover{
  color: black;
  border: 1px solid black;
}

.btn-5::after {
  background-color: hsl(171, 100%, 41%);
  height: 100%;
  color:black;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.3s;
  transform-origin: top left;
  width: 0;
}

.btn-5:hover:after {
  height: 100%;
  width: 135%;
}

/*BUTTON 10*/

.btn-10 {
  background: none;
  border: 3px solid rgb(196, 17, 77);
  border-radius: 5px;
  color:rgb(196, 17, 77);
  font-size: 1.1em;
  font-weight: bold;
  margin: 0.4em;
  padding: 0.4em 1.4em;
  position: relative;
  text-transform: uppercase;
  overflow: hidden;
}

.btn-10:hover{
  color: white;
}

.btn-10::after {
  background-color: rgb(196, 17, 77);
  height: 100%;
  left: -25%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.4s;
  transform-origin: top left;
  width: 0;
}

.btn-10:hover:after {
  height: 100%;
  width: 135%;
}

.btn-11 {
  background: none;
  border: 3px solid rgb(196, 17, 77);
  border-radius: 5px;
  color:rgb(196, 17, 77);
  font-size: 0.9em;
  font-weight: bold;
  margin:0.3em;
  padding: 0.5em 1.0em;
  position: relative;
  text-transform: uppercase;
  overflow: hidden;
}

.btn-11:hover{
  background: rgb(196, 17, 77);
  color: white;
}

.btn-12 {
  background: none;
  border: 3px solid hsl(141, 71%, 48%);
  border-radius: 5px;
  color:hsl(141, 71%, 48%);
  font-size: 1.1em;
  font-weight: bold;
  margin:0.3em;
  padding: 0.5em 1.0em;
  position: relative;
  text-transform: uppercase;
  overflow: hidden;
}

.btn-12:hover{
  background: hsl(141, 71%, 48%);
  color: white;
}

.btn-13 {
  background: none;
  border: 3px solid hsl(348, 100%, 61%);
  border-radius: 5px;
  color:hsl(348, 100%, 61%);
  font-size: 0.8em;
  font-weight: bold;
  margin:0.3em;
  padding: 0.7em 2em;
  position: relative;
  text-transform: uppercase;
  overflow: hidden;
}

.btn-13:hover{
  background: hsl(348, 100%, 61%);
  color: white;
}


.btn-21 {
  background: hsl(171, 100%, 41%);
  border-radius: 5px;
  color:white;
  font-size: 0.9em;
  font-weight: bold;
  margin:0.3em;
  padding: 0.2em 0.9em;
  position: relative;
  text-transform: uppercase;
  overflow: hidden;
}

.btn-21:hover{
  background: white;
  border: 3px solid hsl(171, 100%, 41%);
  color: hsl(171, 100%, 41%);
}

.btn-22 {
  background: rgb(155, 153, 154);
  border-radius: 5px;
  border:3px solid rgb(155, 153, 154);
  color:white;
  font-size: 0.9em;
  font-weight: bold;
  margin:0.3em;
  padding: 0.2em 0.9em;
  position: relative;
  text-transform: uppercase;
  overflow: hidden;
}

.btn-22:hover{
  background: white;
  border: 3px solid rgb(155, 153, 154);
  color: rgb(155, 153, 154);
}

.btn-14 {
  background: none;
  border: 3px solid hsl(141, 71%, 48%);
  border-radius: 5px;
  color:hsl(141, 71%, 48%);
  font-size: 0.8em;
  font-weight: bold;
  margin:0.3em;
  padding: 0.7em 2em;
  position: relative;
  text-transform: uppercase;
  overflow: hidden;
}

.btn-14:hover{
  background: hsl(141, 71%, 48%);
  color: white;
}

.btn-15 {
  background: none;
  border: 3px solid grey;
  color:grey;
  font-size: 0.8em;
  font-weight: bold;
  margin:0.3em;
  padding: 0.7em 2em;
  position: relative;
  text-transform: uppercase;
  overflow: hidden;
}

.btn-15:hover{
  background: grey;
  color: white;
}

.btn-23 {
  background: hsl(141, 71%, 48%);
  border: 3px solid hsl(141, 71%, 48%);
  border-radius: 20px;
  color:white;
  font-size: 1.1em;
  font-weight: bold;
  margin:0.3em;
  padding: 0.5em 1.0em;
  position: relative;
  text-transform: uppercase;
  overflow: hidden;
}

.btn-23:hover{
  background: white;
  border: 3px solid hsl(141, 71%, 48%);
  color: hsl(141, 71%, 48%);
}

.btn-24 {
  background: rgb(99, 74, 110);
  border: 3px solid rgb(99, 74, 110);
  border-radius: 20px;
  color:white;
  font-size: 1.1em;
  font-weight: bold;
  margin:0.3em;
  padding: 0.5em 1.0em;
  position: relative;
  text-transform: uppercase;
  overflow: hidden;
}

.btn-24:hover{
  background: white;
  border: 3px solid rgb(99, 74, 110);
  color: rgb(99, 74, 110);
}

.btn-25 {
  background: white;
  border: 2px solid black;
  color:black;
  font-size: 1.2em;
  color:black;
  margin:0.3em;
  padding: 0.8em 1.3em;
  position: relative;
  overflow: hidden;
}

.btn-25:hover{
  background: hsl(171, 100%, 85%);
  border: 1px solid black;
  color: black;
}

.btn1{
  background: white;
  border: 3px solid hsl(171, 100%, 33%);
  border-radius: 100px;
  color:hsl(171, 100%, 33%);
  font-size: 0.8em;
  font-weight: bold;
  margin:0.3em;
  text-transform: uppercase;
  padding: 0.6em 2em;
  position: relative;
  overflow: hidden;
}
.btn1:hover{
  color: white;
  background: hsl(171, 100%, 33%);
  border: 3px solid hsl(171, 100%, 33%);
}

.btn5{
  background: white;
  color:black;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5em 1em;
  position: relative;
  overflow: hidden;
}
.btn5:hover{
  color: black;
  background: hsl(171, 100%, 41%);
  border: 1px solid black;
}

.btn2 {
  background: hsl(171, 100%, 41%);
  border: 3px solid hsl(171, 100%, 41%);
  border-radius: 100px;
  color:white;
  font-size: 0.8em;
  font-weight: bold;
  margin:0.3em;
  text-transform: uppercase;
  padding: 0.8em 2em;
  position: relative;
  overflow: hidden;
}

.btn2:hover{
  color: hsl(171, 100%, 41%);
  background: white;
  border: 3px solid hsl(171, 100%, 41%);
}

.btn3{
  background: rgb(82, 66, 190);
  border: 3px solid rgb(82, 66, 190);
  border-radius: 100px;
  color:white;
  font-size: 0.8em;
  font-weight: bold;
  margin:0.3em;
  text-transform: uppercase;
  padding: 0.8em 2em;
  position: relative;
  overflow: hidden;
}

.btn3:hover{
  color: rgb(82, 66, 190);
  background: white;
  border: 3px solid rgb(82, 66, 190);
}

.btn4{
  background: white;
  border: 3px solid white;
  border-radius: 100px;
  color:rgb(82, 66, 190);
  font-size: 0.8em;
  font-weight: bold;
  margin:0.3em;
  text-transform: uppercase;
  padding: 0.8em 2em;
  position: relative;
  overflow: hidden;
}

.btn4:hover{
  color: white;
  background: rgb(82, 66, 190);
  border: 3px solid white;
}